<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CertBag</title>

    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body class="container w-screen min-h-screen flex flex-col mx-auto font-mono bg-black text-grey-light">
    <header class="py-2">
        <a class="text-5xl no-underline text-grey-light" asp-area="" asp-page="/Index">CertBag</a>
    </header>
    <div class="flex-grow">
        <main role="main" class="pb-3 flex-grow">
            <h1 class="bg-teal-lighter text-black py-2 pl-4">
                @ViewData["Title"]
            </h1>
            @RenderBody()
        </main>
    </div>

    <footer class="border-t-2 mt-5 pt-3 text-right">
        Paweł Torba &copy; 2019
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
